@charset "UTF-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}




a{
  color: rgb(234, 93, 142);
}

li{
  list-style: none;
}

body{
  margin:0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (min-width: 768px) { /*ウィンドウ幅が767px以上の場合に適用 */


    h3{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 30px;
      font-size: 60px;
      color: rgba(62, 19, 19, 0.818);
    }

    .navbar{
      width: 100%;
      position: fixed;
      z-index: 3;
      top:0%;
      left: 0%;
    }

    .main--top{
      position: relative;
    }

    .main-img{
      width: 100%;
    }

    .main-contents-top p{
      position: absolute;
      top:20%;
      left:8%;
      color:white;
      font-family: 'Merienda', cursive , 'fantasy';
      font-size: 100px;
      z-index: 1;
    }

    .main-contents-PROFILE{
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
    
    .main-contents-PROFILE li{
      margin: 15px 0;
    }
    
    .main-contents-PROFILE span{
        font-size: 34px;
       border-bottom: solid 5px rgb(255, 172, 236);
       border-radius: 4px;
    }
    .main-contents-PROFILE ul{
      width: 60%;
      padding: 0 0 50px 30px;
      font-size: 30px;
    }


      .ME{
      border-radius: 100%;
      width: 35%;
      max-height:550px; 
    }

    .CONTACT{
      width: 100%;
      margin: 0 auto;
      padding: 30px 0;
    }

    .top{
      font-size: 60px;
      color: rgb(234, 93, 142);
      padding-top: 80px;
    }

    .top,
    .CONTACT h4,
    .CONTACT p,
    .CONTACT a,
    .CONTACT span{ 
      display: flex;
      justify-content: center;
    }

    .CONTACT a{
      width: 20%;
      text-decoration: none;
    }

    .CONTACT a:hover{
      opacity: .6;
    }

    .CONTACT span{
      padding: 30px 0 0 0;
    }

    .main-contents-SKILL{
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }

    .SKILL{
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      padding: 10px 0;
    }
    
    .SKILL h4{
      font-size: 40px;
      padding: 10px 0;
    }

    .SKILL p{
      font-size: 28px;
      padding-bottom: 100px;
    }

    .skill-img{
      width:100%;
      display: inline-block; 
      height: 200px;
      margin-right: 35px;
      margin-bottom: 35px;
    }

    .skill-PDimg{
      display: inline-block;
      height: 100px;
      width: 50%;
    }

    .main-contents-PRPDUCTION{
      width: 90%;
      margin: 0 auto;
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 50px 0 ;
      background-image: url(../img/Whiteday2020-09.JPG);
      background-attachment:fixed;
    }

    .PRPDUCTION-IMG{
      width: 35%;
      margin: 30px;
      display: inline-block;
      border-radius: 10px;
      position: relative;
      padding: 0.2em 0.5em;
      background: #d6ebff;
      box-shadow: 0px 0px 0px 10px #d6ebff;
      border: dashed 2px white;
    }

    .PRPDUCTION-IMG:hover{
      opacity: 0.9;
    }

    .PRPDUCTION-IMG img{
      width: 100%;
      height: 100%;
    }

    .PRPDUCTION-text{
      width: 99%;
      margin: 0 auto;
      font-size: 15px;
      font-family: monospace;
      background: rgb(209, 189, 251);
      color: white;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -0.5px;
      overflow: hidden;
      z-index: 2;
      padding: 10px 25px;
      text-align: center;
      border-radius: 10px;
    }

    .PRPDUCTION-text p{
      font-size: 13px;
    }

    .fa-envelope{
      font-size: 100px;
      color: rgb(234, 93, 142);
    }

    .footer-jump{
      width: 100%;
      padding: 10px 0;
      color: white;
      background-color: rgb(245, 191, 235);
    }

    .footer-jump ul{
      display: flex;
      justify-content: center;
    }

    .footer-jump li{
      padding-left: 10px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .footer-jump a{
      color: white;
    }


    .footer-bottom{
      width: 100%;
      background-color: rgb(141, 168, 226);
      color:white;
      display: flex;
      justify-content: center;
      font-family: Arial, Helvetica, sans-serif;
    }


    @import url('https://fonts.googleapis.com/css?family=Merienda');

    .background {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 0;
    }

}


/* 以下スマホのレスポンシブ */
/* ウィンドウ幅が0〜767pxの場合に適用するCSS */
@media screen and (max-width: 767px){

h3{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px;
  font-size: 30px;
  color: rgba(62, 19, 19, 0.818);
}

.navbar{
  width: 100%;
  position: fixed;
  z-index: 3;
  top:0%;
  left: 0%;
}

.main--top{
  position: relative;
}

.main-img{
  width: 100%;
}

.main-contents-top p{
  position: absolute;
  top:20%;
  left:8%;
  color:white;
  font-family: 'Merienda', cursive , 'fantasy';
  font-size: 30px;
  z-index: 1;
}

.main-contents-PROFILE{
  width: 100%;
  margin: 0 auto;
}

.main-contents-PROFILE ul{
  width: 90%;
  margin: 0 auto;
  font-size: 15px;
  text-align:left
}

.main-contents-PROFILE li{
  margin: 10px 0;
}

.main-contents-PROFILE span{
    font-size: 18px;
   border-bottom: solid 5px rgb(255, 172, 236);
   border-radius: 4px;
}

  .ME{
  border-radius: 100%;
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 50px 0 ;
}

.CONTACT{
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
}

.top{
  font-size: 60px;
  color: rgb(234, 93, 142);
  padding-top: 80px;
}

.top,
.CONTACT h4,
.CONTACT p,
.CONTACT a,
.CONTACT span{ 
  display: flex;
  justify-content: center;
}

.CONTACT a{
  width: 20%;
  text-decoration: none;
}

.CONTACT a:hover{
  opacity: .6;
}

.CONTACT span{
  padding: 30px 0 0 0;
}

.main-contents-SKILL{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.SKILL h4{
  padding: 15px 0;
}

.SKILL{
  width:  100%;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px 0;
}

.skill-img{
  display: flex; 
  max-height: 100px;
  margin: auto;
}

.skill-PDimg{
  display: inline-block;
  height: 50px;
  width: 50%;
}

.main-contents-PRPDUCTION{
  width: 90%;
  margin: 0 auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0 ;
  background-image: url(../img/Whiteday2020-09.JPG);
  background-attachment:fixed;
}

.PRPDUCTION-IMG{
  width: 80%;
  margin: 30px;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  padding: 0.2em 0.5em;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
}


.PRPDUCTION-IMG h4{
  font-size: 10px;
}

.PRPDUCTION-IMG p{
  font-size: 6px;
}

.PRPDUCTION-IMG:hover{
  opacity: 0.9;
}

.PRPDUCTION-IMG img{
  width: 100%;
  height: 100%;
}

.PRPDUCTION-text{
  width: 99%;
  font-family: monospace;
  background: rgb(209, 189, 251);
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5px;
  margin: auto;
  overflow: hidden;
  z-index: 2;
  padding: 0px 25px;
  text-align: center;
  border-radius: 10px;
}


.fa-envelope{
  font-size: 100px;
  color: rgb(234, 93, 142);
}

.footer-jump{
  width: 100%;
  padding: 10px 0;
  color: white;
  background-color: rgb(245, 191, 235);
}

.footer-jump ul{
  display: flex;
  justify-content: center;
}

.footer-jump li{
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-jump a{
  color: white;
}


.footer-bottom{
  width: 100%;
  background-color: rgb(141, 168, 226);
  color:white;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}


@import url('https://fonts.googleapis.com/css?family=Merienda');

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

}
